body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 0;
    color: white;
    
    
}

.header, .footer {
    background-color: #1F2937;
    color: white;
}
.header {
    display: flex;
    justify-content:space-between;
    padding: 0 32px;

    
   
}

.header-links {
    display: flex;
    gap: 16px;
    align-items: center;
   
}

.top-container {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    
    

}

.sign-up-container {
    display: flex;
    flex-direction: column;
    margin: 16px;
    padding: 16px;
    max-width: 100%; /* Ensure it doesn't overflow */
    width: auto; /* Allow the container to take necessary width */
    word-wrap: break-word; /* Break long words and allow wrapping */
    word-break: break-word; /* Ensures unbreakable words can wrap */

 
    
    
   
}

.inner-container {
    display: flex;
    align-items: center;
    padding-right: 32px;
}

.middle-container, .bottom-mid-container{
   color: black;
}
 
.footer {
    display: flex;
    justify-content: center;
    font-size: 12px;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}
li {
    list-style-type: none;
}

button {
    width: auto;
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 10px 30px;
    align-self: flex-start;
    
    
}

#description {
    color: #E5E7EB;
}