body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 0;
    color: white;
      
    
}

html, body {
    height: 100%; /* Make sure body takes up the full height */
    margin: 0; /* Remove default margin */
}


.header, .footer {
    background-color: #1F2937;
    color: white;
}
.header {
    display: flex;
    padding: 0 32px;
    justify-content: space-between;   
}

.header-links {
    display: flex;
    gap: 16px;
    align-items: center;
   
}

.top-container {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    justify-content:space-around;
    
    
}

.inner-container {
    display: flex;
    align-items: center;
    padding-right: 32px;
    justify-content: space-between;
}

.sign-up-container {
    display: flex;
    flex-direction: column;
    margin: 16px;
    padding: 16px;
    max-width: 100%; /* Ensure it doesn't overflow */
    width: auto; /* Allow the container to take necessary width */
    word-wrap: break-word; /* Break long words and allow wrapping */
    word-break: break-word; /* Ensures unbreakable words can wrap */   
}

.middle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-container {
    display: flex;
    justify-content: center;
    gap: 16px;

    
}

.icon {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   width: 150px;
   font-size: 18px;
   color: gray;
   

}

.icon img {
    width: 100px; /* Fixed width to keep icons consistent */
    height: 100px; /* Fixed height for icons */
    object-fit: cover;
}

.middle-container, .bottom-mid-container{
   color: black;
}

.bottom-mid-container {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
}
.quote {
    font-size: 1.5em;
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-style: italic;
    color: #1F2937;
    padding: 72px;
}

.quoter {
    align-self: flex-end; /* Aligns to the right in flex layout */
    margin-top: 10px;
    font-size: 0.8em;
    color: #555;
}

.bottom-container {
    display: flex;
}
.subscription-box {
    display: flex;
    background-color: #3882F6;
    justify-content: space-evenly;
    margin: 36px 86px;
    border-radius: 8px;
    gap: 16px;
    padding: 32px;
    flex: 1;
    
    
}

.subscription-box button {
    border: 2px solid white;
    align-self: center;
    padding: 10px 30px;
}
.subscription-box p {
    font-size: 12px;
    margin-top: 0;
}
.subscription-box h4 {
    margin-bottom: 0;
}


.footer {
    display: flex;
    justify-content: center;
    font-size: 12px;
    padding: 16px;
    margin-top: auto; 
    
    
}



a {
    color: white;
    text-decoration: none;
}
li {
    list-style-type: none;
}

button {
    width: auto;
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 10px 30px;
    align-self: flex-start;
    
    
}

#description {
    color: #E5E7EB;
}